#titulo{
    text-align: center;
    font-size: 40px;
    
    background: linear-gradient(top, blue, white);
    background: -webkit-linear-gradient(top,blue,white);
    background: ms-linear-gradient(top,blue,white);
    background: -o-linear-gradient(top,blue,white);
width: 50%;
border-radius: 30px;
-moz-border-radius: 30px;
-ms-border-radius: 30px;
-o-border-radius: 30px;
margin: 40px auto;
padding: 15px;
color: white;
box-shadow: gray 50px 50px 15px; 
text-shadow: black 2px 2px 2px;

}